<table style="width:100%;margin-top:20px;">
    <tr>
        <th style="font-size:10pt;">Painting</th>
        <th style="font-size:10pt;">Title</th>
        <th style="font-size:10pt;">Price</th>
        <th style="font-size:10pt;">End Date</th>
        <th style="font-size:10pt;">Delivery</th>
    </tr>

    #{list items:_items, as:'item'} 
    <tr>
        #{if item.photo.exists()}
        <td style="font-size:10pt; vertical-align:top; ">
        
            <a href="@{Application.show(item.id)}"><img height="50" width="50" src="@{Application.showImage(item.id)}" alt="${item.title} image" target="_blank" /></a>
        </td>
        #{/if}

        <td style="font-size:10pt;">
            <a href="@{Application.show(item.id)}" target="_blank">${item.title}</a>
        </td>

        <td style="font-size:10pt;">
            ${item.currentTopBid.formatCurrency('USD').raw()} <br/>
        </td>

        <td style="font-size:10pt;">
            ${item.endDate.until()}
        </td>
            
        <td style="font-size:10pt;">
        ${item.deliveryCost!=0 ? item.deliveryCost.formatCurrency('USD').raw() : 'Free'}
        </td>
    </tr>        
    #{/list}
</table>   