#{extends 'header.html' /}
#{set title:'Chris Mazzochi Web Designs Home Page' /}

 <div id="mainContent" class="clearfix">

  <a href="#" class="slideout-menu-toggle"  onclick="slideMenu();">
        <div class="navicon"></div>
        <div class="navicon"></div>
        <div class="navicon"></div>
    </a>
     
    
    <div class="slideout-menu" style="margin-bottom:20px;">

      <div id="slideout-searchdiv" class="clearfix">

         <div id="slideout-searchdiv" class="clearfix">

                <form action="@{Application.search()}" method="GET">
                    <input class="searchField" type="text" id="search" name="search"/>
                    <input class="searchButton" style="font-family:Raleway;" type="submit" id="submit" name="submit" value=" Search"/>       
                </form>
            </div>

       <ul class="clearfix">
                <li style="background-color:#f6de36;"><a href="@{Application.index()}">Home</a></li>
                <li style="background-color:#ddf135;"><a href="@{Application.createAuctionItem()}">Auction</a></li>
                <li style="background-color:#8d27a2;"><a href="http://www.chrismazzochi.com/public/">PHP Version</a></li>
                <li style="background-color:#5b32a8;"><a href="http://www.chrismazzochi.com/development">AngularJS2 Version</a></li> 
                #{if session.user != null}
                <li style="background-color:#8590d4;"><a href="@{Authenticate.logout()}" style="color:#000;">Logout</a></strong></li>
                #{/if}
                #{else}
                <li style="background-color:#8590d4;"><a href="@{Authenticate.login()}" style="color:#000;">Login</a></strong></li>
                #{/else}
                <li><a href="#" class="fa fa-angle-right slideout-menu-close">Close Me<i></i></a></li>
                
            </ul>
    </div>
  
     <div class ="container">
        <div class ="row">
            <div id="popular" class="col-md-4 col-lg-4">
                    <h2>Most Popular Items</h2>
                   #{itemSummaryList items:mostPopular, type:'short' /}      
            </div>
            <div id="photoShow" class="photo-show col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                <ul class="rslides">
                    <li><img alt="" src="@{'/public/images/nypics_1.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_2.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_3.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_4.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_5.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_6.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_7.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_8.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_9.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_10.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_11.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_12.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_13.jpg'}"></li>
                    <li><img alt="" src="@{'/public/images/nypics_14.jpg'}"></li>
                </ul>
            </div>
            <div id="twitterTimeline" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a  class="twitter-timeline" href="https://twitter.com/ChrisMazzochi" data-widget-id="726033274628411392">Tweets by @ChrisMazzochi</a>
                <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                </script>
            </div><!--end twitterTimeline -->
        </div><!--end row-->
    </div><!--end container -->

 <div class ="container">  
        <div class="row">

            <video id="my_video" class =   "col-xs-12 col-sm-12 col-md-12 col-lg-4" autoplay loop muted>
               
                        <source src="@{'/public/video/electro_fun.mp4'}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>

                        <source src="@{'/public/video/electro_fun.ogv'}" type='video/ogg; codecs="theora, vorbis"'>

                        <p>Your browser does not support HTML5 video.</p>
            </video>

            <div class="typeArtContainer col-xs-12 col-sm-12 col-md-12 col-lg-4  clearfix">
                    <h1>Love and Glory</h1>
                        <div class="bodycopy clearfix">
                            <p>"I went off with my hands in my torn coat pockets;
                                My overcoat too was becoming ideal;
                                I traveled beneath the sky, Muse! and I was your vassal;
                                Oh dear me! what marvelous loves I dreamed of!" Arthur Rimbaud 
                            </p>
                        </div>
                    <h2>Go Back Home</h2>
                        <div class="rotatecontainer clearfix">
                            <div class="css clearfix">
                                <p>What Dreams</p>
                            </div>

                            <div class="rotation">
                                <p>Are Made Of Art Machine</p>
                            </div>
                        </div><!--end rotatecontainer div-->
            </div><!--End typeArtContainer div-->

            <div id="ending" class="col-md-4 col-lg-4">
                <h2>Auctions Ending Soon</h2>
                 #{itemSummaryList items:endingSoon, type:'short' /} 
            </div>
        </div><!--end row -->
    </div><!--end container-->
</div><!--End Main Content div-->