#{extends 'main.html' /}
#{set title:'Mazzochi Auctions - Create a new item listing' /}


<div id="mainContent" class="clearfix">
<a style="margin-left:5px;" href="@{Application.index()}">&laquo; Back</a><br />
    <div>
        <div id="showPhotoDiv">
            #{if item.photo.exists()}
                <img src="@{Application.showImage(item.id)}" alt="${item.title} image" width="700" height="500" />
            #{/if}
        </div>
        <table id="photoDetails">
            <tr><td>Title:</td><td style="padding-left:5px;">${item.title}</td></tr>
            <tr><td>Start Bid:</td><td style="padding-left:5px;">${item.startBid.formatCurrency('USD').raw()}</td></tr>
            <tr><td>Current Bid: </td><td style="padding-left:5px;">${item.currentTopBid.formatCurrency('USD').raw()}</td></tr>
            #{if item.buyNowEnabled}
            <tr><td>Buy Now Price: </td><td style="padding-left:5px;">${item.buyNowPrice}</td></tr>
            #{/if}
            <tr><td>Auction Ends: </td><td style="padding-left:5px;">${item.endDate}</td></tr>
            <tr><td>Delivery: </td><td style="padding-left:5px;">${item.deliveryCost.formatCurrency('USD').raw()}</td></tr>
            <tr><td>Description: </td><td style="padding-left:5px;">${item.description}</td></tr>
        </table>
    </div>
</div>