#{extends 'main.html' /}

    <header class="clearfix">
        <h1>Chris Mazzochi Web Designs </h1>
        <h3 class="date">${new Date().format("MMMM dd yyyy")}</h3>
        <div id="searchdiv" class="clearfix">
                <form action="@{Application.search()}" method="GET">
                    <input class="searchField" type="text" id="search" name="search" placeholder="Search..."/>
                    <input class="searchButton" style="font-family:Raleway;" type="submit" id="submit" name="submit" value="Search"/>       
                </form>
            </div>
        <nav class="clearfix">
            <ul class="clearfix">
                <li class="linkHome"><a href="@{Application.index()}">Home</a></li>
                <li class="linkAuction"><a href="@{Application.createAuctionItem()}">Auction</a></li> 
                <li class="linkPhp"><a href="http://phpwebapp-env.us-east-2.elasticbeanstalk.com/index.php" target="_blank">PHP App</a></li>
                <li class="linkAngular"><a href="https://mazzo-angular-app.herokuapp.com/" target="_blank">Angular App</a></li>
                #{if session.user != null}
                <li class="loginLogout"><a href="@{Authenticate.logout()}">Logout</a></li>
                #{/if}
                #{else}
                <li class="loginLogout"><a href="@{Authenticate.login()}">Login</a></li>
                #{/else}
            </ul>
        </nav>
    </header>

        #{doLayout /}